h1, h2, h3, div{
	font-family: arial;
}
.myButtonClass{
	background-color: yellow;
	font-style: italic;
}
#addButton {
	background-color: red;
}
.exciting {
	background-color: black;
	color: magenta;
}