<!DOCTYPE html>
<html lang="en-US" ng-app="learnpodApp">
	<head>
		<link rel="stylesheet" type="text/css" href="./css/ch4.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script type="text/javascript" src="./js/ch4.js"></script>
		<script type="text/javascript" src="./js/anon.js"></script>	
	</head>
	<body ng-controller="learnpodController">
		<h1 ng-bind="title"></h1>
		<br>
		<div>
			<span>current count:</span>
			<span ng-bind="count"></span>
		</div>
		<br>
		<div>
			<button ng-click="incrementCount()">add to the count</button>
			<button ng-click="printCount()">print the count</button>
		</div>
	</body>
</html>