button
{
  font-weight:600;
  border:solid #222 2px;
  display:inline-block;
  border-radius:5px;
  padding:6px 12px;
  margin-right:6px;
  cursor:pointer;
  box-shadow:4px 4px 0 #222;
}
button:hover
{
  background-color:#83ffcd;
  box-shadow:2px 2px 0 #222;
}
button:active
{
  background-color:#83ffcd;
  box-shadow:none;
}
