.content
{
  padding:1rem;
}

.container
{
	border-radius:1rem;
	padding:1rem;
}
h1
{
  font-size:22px !important;
}
h2
{
  font-size:18px !important;
}
h3
{
  font-size:14px !important;
}



.mint
{
  background-color:#83ffcd;
}

.peach
{
  background-color:#FBA058;
}

.blueberry
{
  background-color:#70a4d8;
}
