<div class="blueberry container" data-ng-controller="HomeController">
	<h1 ng-bind="homeScope.data.title"></h1>
	<br>
	<div>
		<div ng-bind="homeScope.data.url"></div>
		<div ng-bind="homeScope.data.imgUrl"></div>
	</div>
	<br>
	<div>
		<span>current count:</span>
		<span ng-bind="homeScope.data.count"></span>
	</div>
	<br>
	<div>
		<button ng-click="homeScope.userFunctions.incrementCount()">add to the count</button>
		<button ng-click="homeScope.userFunctions.printCount()">print the count</button>
	</div>
</div>
